body{
    font-family: Arial;
}
section{
    width: 770px;
    height: 230px;
    margin: 0 auto;
    background-color: #FFC0CB;
    border:0;
    border-radius: 15px;
    padding:15px;
}
section article#meter{
    width: 143px;
    height: 170px;
    float: left;
}
h1{
    margin: 5px 0 0 0;
    font-size: 30px;
    text-align: center;
}
h2{
    margin: 5px 0;
    font-size:16px;
    text-align: left;
}
section article#meter figure{
    margin: 0;
}
section article#meter figcaption{
    margin: 5px 0;
    font-size: 12px;
}
section article#meter meter{
    width: 115px;
}
section article#audio{
    width: 310px;
    margin: 0 10px;
    float: left;
}
section article#audio div{
    width: 296px;
    padding: 10px 2px 15px 2px;
    margin-bottom: 5px;
    background-color: black;
}
section article#audio div audio{
    width: 296px;
}
section article#video video {
    margin-left: -5px;
}