body{
    font-family: Arial;
}
section{
    width: 290px;
    height: 235px;
    margin:0 auto;
    background-color: #FFC0CB;
    padding: 12px 6px;
}
h1 {
    text-align: center;
    margin:0;
    font-style: italic;
}

input, select{
    width: 139px;
    height: 17px;
    border: 1px solid #D6B9BE;
    border-radius: 1px;
}
em {
   font-size: 10px;
}
#firstrow em{
    margin-right:115px;
}
#secondrow input{
    width: 10px;
    height: 10px;
    margin-left: 145px;
}
#thirdrow em {
    margin-right:72px;
}
#fourthrow em {
    margin-right:86px;
}
#fifthrow em{
    margin-right: 27px;
}
input[name="dfrom"], input[name="dto"], input[name="rfrom"], input[name="rto"]{
    width: 68px;
}
input[type="number"]{
    padding-left: 2px;
    width: 40px;
    height: 14px;
}
input[type="submit"]{
    height: 20px;
    margin-right: 6px;
    margin-top: 5px;
    float: right;
}