body{
    font-family: Arial;
}
#mainField {
    width:500px;
    height:190px;
    position: relative;
    border-top:5px dotted yellow;
    border-left:5px dashed red;
    border-right:5px solid green;
    border-bottom:5px double blue;
    box-shadow: 10px 10px 5px #3F3F3F;
}
#mainField h1{
    font-weight: normal;
    text-align: center;
    text-shadow: 8px 8px 11px #6B6B6B;
}
#innerField1{
    border:1px solid blue;
    width: 445px;
    margin: 0 auto;
    border-radius: 50px;
}
#innerField2{
    border:1px solid green;
    border-radius: 50px;
}
#innerField3{
    border:1px solid yellow;
    border-radius: 50px;
}
#innerField4{
    border:1px solid red;
    height: 78px;
    text-align: center;
    border-radius: 50px;
}
#innerField4 p{
    text-shadow: 8px 8px 13px #BCBCBC;
    margin:14px;
}
#innerField4>div{
    width: 335px;
    height: 25px;
    margin:0 auto;
}
#innerField4 div div{
    background-color: #D8921A;
    border:3px solid;
    border-color: #FFA600 #A46300 #A46300 #FFA600;
    width: 154px;
    height: 15px;
    margin:3px;
    float: left;
    font-size: 12px;
}
#bubble1{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 110px;
    right:100px;
    background-color: #A9AAAA;
    border-radius: 20px;
    opacity: 0.7;
}
#bubble1 div{
    width:13px;
    height:13px;
    border-radius: 20px;
    border: 2px dashed white;
    margin:4px auto;
}
#bubble2{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 75px;
    right:45px;
    background-color: #A9AAAA;
    border-radius: 20px;
    opacity: 0.7;
}
#bubble2 div{
    width:21px;
    height:21px;
    border-radius: 20px;
    border: 2px dashed white;
    margin:5px auto;
}
#bubble3{
    width: 110px;
    height: 65px;
    position: absolute;
    top: 30px;
    right:-70px;
    background-color: #A9AAAA;
    border-radius: 30px;
    opacity: 0.7;
    color: white;
}
#bubble3 div{
    width:98px;
    height:53px;
    border-radius: 30px;
    border: 2px dashed white;
    margin:4px auto;
}
#bubble3 div p{
    margin:4px 0;
    text-align: center;
}